*.patch
.idea/**/*.iml
.idea/**/*.xml
.idea/codeStyles
.DS_Store
*.orig
*.rej
*.json
*.db
*.dat
*.txn
*.log
*.csv
*.zip
*.tgz
/vendor/*
elastos*/
/bin
/tmp
keystore
*.out
*.test
benchmark/process/run-to-height
