{
  "Configuration": {
    "PowConfiguration": {
      "PayToAddr": "8VYXVxKKSAxkmRrfmGpQR2Kc66XhG6m3ta",
      "MinerInfo": "ELA",
      "MinTxFee": 100
    },
    "EnableRPC": true,
    "RpcConfiguration": {
      "User": "User",
      "Pass": "Password",
      "WhiteIPList": [
        "127.0.0.1"
      ]
    },
    "DNSSeeds": [
      "52.74.28.202:20338",
      "52.62.113.83:20338",
      "35.156.51.127:20338",
      "35.177.89.244:20338",
      "52.53.134.102:20338",
    ]
  }
}